<li>
	{{name}}

	<button class="devour" data-id="{{id}}" data-devour="{{devour}}">
		{{#if add}}Your order!!{{else}}Devoured!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>
